#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

ignoredisk --only-use=sda
# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=jenkins-server

# Root password
rootpw --iscrypted $6$D4KNEiyhe8B72Uko$OZxlVlF6OHZWlW9UdEEG6x1rnEYmqCei4ywx5mf0uIF/qQ2ulBbDGP6Sit9mDkmM1xKCs4TmOL6xxOXIX..hK0
# System timezone
timezone America/New_York --isUtc
user --name=ibro --password=$6$xmqbMFI15e1cAehQ$BrfMUYuvO73XBbHTYAPJNcAHns4M/n5hyf6VG7f/ltY8NNFCqYie9IW47dA4UrjRHuBjdbH5GeuFpz1BjH7J4/ --iscrypted --gecos="ibro"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
@backup-server
@base
@compat-libraries
@core
@desktop-debugging
@development
@dial-up
@dns-server
@file-server
@fonts
@ftp-server
@gnome-desktop
@guest-agents
@guest-desktop-agents
@ha
@hardware-monitoring
@identity-management-server
@infiniband
@input-methods
@internet-browser
@java-platform
@load-balancer
@mail-server
@mainframe-access
@mariadb
@multimedia
@network-file-system-client
@performance
@print-client
@print-server
@remote-system-management
@resilient-storage
@security-tools
@smart-card
@virtualization-client
@virtualization-hypervisor
@virtualization-tools
@x11
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
